// Put global styles in here only if there are no good alternatives using MUI
* {
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    display: flex;
}

#root {
    min-height: 100vh;
    min-width: 100vw;
}
