// Put global styles in here only if there are no good alternatives using MUI
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    min-height: 100vh;
    display: flex;
}

#root {
    min-height: 100vh;
    width: 100vw;
}
